.container{
    max-width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.bg-primary{
    background-color: $color-primary;
}

.bg-medium{
    background-color: $color-medium;
}

.bg-pale{
    background-color: $color-pale;
}

  