input[type="text"]{
    transition: all .2s ease;

    background-color: $color-medium;
    border: 2px solid $color-medium;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    padding: 20px;

    &.error{
        border-color: $color-danger;
    }

    &:focus{
        outline: none;
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: "Montserrat";
    font-size: 14px;
    color: #B6A296;
}
::-moz-placeholder { /* Firefox 19+ */
    font-family: "Montserrat";
    font-size: 14px;
    color: #B6A296;
}
:-ms-input-placeholder { /* IE 10+ */
    font-family: "Montserrat";
    font-size: 14px;
    color: #B6A296;
}
:-moz-placeholder { /* Firefox 18- */
    font-family: "Montserrat";
    font-size: 14px;
    color: #B6A296;
}